@media only screen 
and (min-width : 768px){
/* ---------------------------
            INDEX
---------------------------- */

/* hero */
.button-container{
    margin-top: 34em;
    height: 2.5em;
    }

.h5-index-button {
    margin: 0em;
    font-size: 1.2em;
    }

.hero-img{
    height: 60em;
    }

.bg-container-2{
    height: 60em;
    }

.hero-text{
    margin-top: 24em;
    }

.hero-background-2{
    height: 60em;
    }
.h1-hero-text{
    font-size: 2.2em;
    }

.h3-hero-text{
    font-size: 1.6em;
    }

.red-emergency{
    bottom: 3.1em;
    }

.h5-emergency {
    margin: .2em;
    padding: .2em;
    font-size: 1.2em;
    }
.gradient-2{
    height: 60em;
    }

/* nav bar */
.gradient{
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0) 17%);
    }

.logo{
    width: 110px;
    height: 80px;
    }

.navbar-logo{
    width: 110px;
    height: auto;
    }

.hamburger, .cross, .menu{
    display: none;
    }

.navbar{
    width: 25em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,1fr);
    position: absolute;
    top: 1em;
    right: 0;
    margin-right: 2em;
    }

    .box1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        font-size: .8em;
        text-align: left;
        }
    
    .box2{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row: 1;
        font-size: .8em;
        text-align: right;
        }

    .box3{
        grid-column: 1;
        grid-row: 2;
        }

    .box4{
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        }

    .box5{
        grid-column: 3;
        grid-row: 2;
        text-align: right;
        }

    .box6{
        grid-column: 4;
        grid-row: 2;
        text-align: right;
        }

    .box7{
        grid-column: 5;
        grid-row: 2;
        text-align: right;
        }

.menu-item{
    text-decoration: none;
    font-size: .9em;
    color: #0e3a59;
    font-weight: 700;
    }

.fa-facebook{
    font-size: 1.4em;
    padding-top: .3em;
    }

/* section 1 */
#index-section-1 {
    height: auto;
    margin-top: 5em;
    }

.section-1-container{
    display: grid;
    grid-template-columns: 21em 19em;
    grid-template-rows: 3em 19em 6em;
    width: 40em;
    margin: 0 auto 0 auto;
    }

.h3-section-1 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40em;
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 700;
    margin: 0 auto 2em auto;
    }

.p-section-1{
    grid-row: 2;
    grid-column: 1;
    width: 22em;
    margin-left: 0;
    }

.p-section-1-b{
    grid-row: 3;
    grid-column: 1;
    }

#index-container-img-1 {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 18em;
    height: 23.7em;
    margin: .7em auto 0 1em;
    }

/* section 2 */
.section-2-container{
    width: 40em;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3em 7em 8em 10em 6em 4em;
    grid-template-areas: "h3-section-2 h3-section-2 h3-section-2"
                         "p-section-2-intro p-section-2-intro p-section-2-intro"
                         "icon-1 icon-2 icon-3"
                         "icon-p-1 icon-p-2 icon-p-3"
                         "h3-section-2-2 h3-section-2-2 h3-section-2-2"
                         ". button-container-section-2 .";

    margin: 0 auto 0 auto;
    }

    .h3-section-2{
        grid-area: h3-section-2; 
        }

    .p-section-2-intro{
        grid-area:p-section-2-intro; 
        }

    .icon-1{
        grid-area: icon-1;
        }

    .icon-2{
        grid-area: icon-2;
        }

    .icon-3{
        grid-area: icon-3;
        }

    .h3-section-2-2{
        grid-area: h3-section-2-2;
        }

    .button-container-section-2{
        grid-area: button-container-section-2;
        }

.p-icon-section-2{
    width: 15em;
    text-align: center;
    margin: 0 auto 0 auto;
    font-size: .75em;
    }

.p-section-2{
    width: 100%;
    }

#h3-section-2 {
    font-size: 1.6em;
    width:100%;
    }

.index-container-icon{
    width: 6em;
    height: 4em;
    margin: 3em auto 0 auto;
    }

.index-icon-3{
    height: 3.7em;
    width: auto;
    }

/* section 3 */
#index-section-3{
    margin-top: 5em;
    margin-bottom: 3em;
    height: 20em;
    }

.section-3-container{
    width: 40em;
    height: 16em;
    }

#index-container-img-2{
    width: 25em;
    height: 16em;
    }
    
.div-img-section-3{
    width: 25em;
    margin: 1em auto 0 37%;
    height: 14em;
    }

.p-img-section-3{
    padding: 1.8em 1.8em 0 1.8em;
    font-size: .8em;
    line-height: 200%;
    }

.h6-img-section-3{
    margin-top: 1.5em;
    font-size: 1.5em;
    letter-spacing: .1em;
    line-height: 0;
    }

/* Footer */
#footer{
    display: grid;
    grid-template-rows: repeat(2,2.5em);
    grid-template-columns: 5% 30% 30% 30% 5%;
    border-top: 5px solid #2e76a4;
    padding-top: .5em;
    }

.h5-footer{
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    }

.h6-footer-1{
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    font-size: .8em;
    letter-spacing: 0.2em;
    }

.h6-footer-2{
    grid-column: 4;
    grid-row: 1;
    text-align: right;
    font-size: .8em;
    letter-spacing: 0.1em;
    margin-left: 0em; 
    }

.p-footer{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    font-size: 1em;
    text-align: left;
    letter-spacing: 0.03;
    margin: .7em 0 0 0;
    }

.footer-icons{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 2;
    margin: 0 0 0 0;
    text-align: right;
    }

.h6-footer-3{
    margin: 0 0 0 0;
    font-size: 1.1em;
    }

.footer-facebook{
    font-size: .9em;
    margin: 0 0 0 1em;
    }

.footer-linkedin{
    font-size: 1.1em;
    margin: 0 0 0 .9em;
    padding-right: 1px;
    }

.footer-div-link{
    width: 1.1em;
    height: 1.1em;
    padding: 1.3px 2px 0 0;
    }
/* ---------------------------
            ABOUT
---------------------------- */
/* hero */
.section-hero-img{
    height: 32em;
    }

.h-background-section{
    height: 32em;
    }

.section-hero-text{
    margin-top: 8em;
    }
    
.h1-hero-section-text{
    font-size: 2.5em;
    }

.bg-section-container{
    height: 32em;
    }

.gradient-section{
    height: 32em;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 15%, rgba(255,255,255,0) 23%);
    }

/* ABOUT: section-1 */
#a-section-1{
    margin-top: 5em;
    }

.about-section-1-container{
    display: grid;
    grid-template-columns: 22em 16em;
    grid-template-rows: 4em 14em 12em 10em 5em;
    width: 38em;
    margin: 0 auto 0 auto;
    }

.a-h3-section1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    }

.a-p-section-1{
    grid-column: 1;
    grid-row: 2;
    }

.a-p-section-1b{
    grid-column: 1;
    grid-row: 3;
    }

.a-p-section-1c{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
    width: 100%;
    }

.a-s1-pic-container{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    float: left;
    }
    .a-s1-pic-container {
        width: 16em;
    }

.about-img-sec-1{
    width: 16em;
    height: 11em;
    display: block;
    }

.about-img-sec-1b{
    padding-right: 0;
    padding-left: 0em;
    margin-top: 2em;
    }

.a-button-sect1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
    }

/* ABOUT: section 2 */
#a-section-2{
    height: 18em;
    margin-bottom: 3em;
    }

.a-section-2-container{
    width: 40em;
    height: 16em;
    }

#a-container-img-sect2{
    width: 25em;
    height: 16em;
    }

/* ABOUT: section 3 */
#a-section-3{
    margin-top: 4em;
    }

.a-section-3-container{
    width: 40em;
    display: grid;
    grid-template-columns: 24em 16em;
    grid-template-rows: 4em 12em 10em; 
    }

.a-h3-sect3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    }

.a-p-section-3{
    width: 23em;
    grid-column: 1;
    grid-row: 2;
    }

.a-p-section-3b{
    width: 23em;
    grid-column: 1;
    grid-row: 3;
    }

#a-section3-container-img-4{
    width: 16em;
    height: 19em;
    margin: 0 0 0 0;
    float: right;
    }

/* ABOUT: section 4 */
.a-section-4-container{
    width: 40em;
    }

.a-h3-section-4{
    font-size: 1.3em;
    width: 30em;
    padding-top: .8em;
    }

.a-section3-img-container{
    width: 40em;
    height: 10em;
    }

.a-button-sect4{
    margin-top: 6.5em; 
    }

/* ABOUT: section 5 */
#a-section-5{
    margin-top: 6em;
    }

.a-section-5-container{
    width: 40em;
    font-size: 1.1em;
    }

.a-h3-section-5{
    text-align: left;
    width: 18em;
    float: right;
    }

.a-p-section-5{
    width: 23em;
    float: right;
    font-size: .8em;
    margin-bottom: 0;
    }

.a-p-section5-b{
    text-align: left;
    margin-top: 0;
    }

.a-sect5-img-container{
    width: 17em;
    float: left;
     margin-top: 0em; 
    }

/* ABOUT: section 6 */
#a-section-6{
    margin-top: 4em;
    margin-bottom: 4em;
    }

.a-section-6-container{
    width: 40em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 4em 3em 8.3em 10em 4em 4.2em;
    margin: 0 auto 0 auto;
    }

.a-h3-sect6{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row:1;
    }

.a-img-sect-6{
    width: 11.5em;
    height: 8em;
    }

.p-sect-6{
    text-align: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    }

.img-sect6-1{
    grid-column: 1;
    grid-row: 3;
    }

.img-sect6-2{
    grid-column: 2;
    grid-row: 3;
    }

.img-sect6-3{
    grid-column: 3;
    grid-row: 3;
    }

.p-section6{
    width: 13em;
    }

.p-section6-a{
    grid-column: 1;
    grid-row: 4;
    }

.p-section6-b{
    grid-column: 2;
    grid-row: 4;
    }

.p-section6-c{
    grid-column: 3;
    grid-row: 4;
    }

.h2-sect-6{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 5;
    font-size: 1.7em;
    width: 100%;
    }

.a-button-section-6{
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 6;
    }
}

@media only screen 
and (min-width : 1024px){
/* ---------------------------
            INDEX
---------------------------- */

 /* hero */
 .bg-container-2{
     display: none;
    }
    
.hero-img{
    height: 78em;
    }

.bg-container{
    display: initial;
    height: 78em;
    }

.hero-background{
    display: initial;
    }

.hero-text{
    margin-top: 28em;
    }

.h3-hero-text{
    font-size: 1.8em;
    }

.h1-hero-text{
    font-size: 2.8em;
    }

.button-container{
    margin-top: 40em;
    height: 2.5em;
    padding: .5em;
    }

.red-emergency{
    bottom: 5.7em;
    height: 4.5em;
    }

.h5-emergency {
    margin: .5em;
    padding: .7em;
    font-size: 1.4em;
    }

/* nav bar */
.navbar{
    top: 2em;
    width: 30em;
    margin-right: 4em;
    }

.gradient{
    height: 78em;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 9%, rgba(255,255,255,0) 12%);
    }

.hr-navbar{
    border: 2px solid #2e76a4;
    }

.logo{
    margin: 1em 3em .8em 3em;
    width: 140px;
    height: 95px;
    }

.navbar-logo{
    width: 140px;
    height: auto;
    }

.menu-item{
    font-size: 1.2em;
    }

.fa-facebook{
    font-size: 1.4em;
    padding-top: 0.06em;
    }

/* section 1 */
#index-section-1 {
    height: auto;
    margin-top: 8em;
    }

.section-1-container{
    display: grid;
    grid-template-columns: 26em 22em;
    grid-template-rows: 5em 21em 10em;
    width: 48em;
    margin: 0 auto 2em auto;
    }

.h3-section-1 {
    width: 100%;
    font-size: 1.2em;
    letter-spacing: .1em;
    }

.p-section-1{
    width: 21em;
    font-size: 1.1em;
    line-height: 210%;
    }

.p-section-1-b{
    grid-row: 3;
    grid-column: 1;
    width: 21em;
    }

#index-container-img-1 {
    width: 20em;
    height: 27em;
    margin: .5em auto 0 2em;
    }

/* section 2 */
.section-2-container{
    grid-template-rows: 4em 10em 7em 15em 9em 4em;
    width: 48em;
    }

.p-section-2{
    font-size: 1.1em;
    line-height: 210%;
    }

#h3-section-2{
    font-size: 2em;
    }

.p-icon-section-2{
    width: 15em;
    margin: 2em auto 0 auto;
    font-size: .85em;
    }

.index-container-icon{
    width: 7em;
    height: 5em;
    }

.index-icon-3{
    height: 4.3em;
    }
    
.button-container-section-2{
    height: 2.8em;
    }

/* section 3 */
#index-section-3{
    margin-top: 6em;
    margin-bottom: 5em;
    height: 22em;
    }

.section-3-container{
    width: 48em;
    height: 18em;
    }

#index-container-img-2{
    width: 28em;
    height: 18em;
    }

.div-img-section-3{
    width: 28em;
    margin: 1em auto 0 41%;
    height: 16em;
    }

.p-img-section-3{
    padding: 2em 2em 0 2em;
    font-size: .88em;
    line-height: 210%;
    }

/* Footer */
#footer{
    grid-template-rows: repeat(2,3.3em);
    grid-template-columns: 11.5% 25.5% 26% 25.5% 11.5%;
    border-top: 6px solid #2e76a4;
    padding-top: .5em;
    }
    .p-footer {
        font-size: 1.1em;

    }
.h6-footer-1{
    font-size: .9em;
    }

.h5-footer{
    font-size: 1em;
    }

.h6-footer-1{
    font-size: 1em;
    letter-spacing: 0.15em;
    margin-left: 0em; 
    }

.h6-footer-2{
    font-size: 1em;
    }
/* ---------------------------
            ABOUT
---------------------------- */
.section-hero-img{
    height: 40em;
    }

.section-hero-text{
    margin-top: 8em;
    }

.gradient-section{
    height: 40em;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 19%, rgba(255,255,255,0) 23%);
    }

.bg-section-container{
    height: 40em;
    }

.h-background-section{
    height: 40em;
    }

/* ABOUT: section 1 */
#a-section-1{
    margin-top: 8em;   
    }

.about-section-1-container{
    width: 48em;
    grid-template-columns: 30em 18em;
    grid-template-rows: 6em 19em 15em 10em 5em;
    }
    
.p-section-1 {
    width: 24em;
    }

.a-p-section-1c{
    width: 100%;
    }

.about-img-sec-1{
    width: 18em;
    height: 13em;
    }

.about-img-sec-1b{
    padding-right: 0;
    padding-left: 0em;
    margin-top: 4em;
    }

/* About: section 2 */
#a-section-2{
    height: 20em;
    margin-top: 6em;
    }

.a-section-2-container{
    width: 48em;
    height: 18em;
    }

#a-container-img-sect2{
    width: 33em;
    height: 18em;
    }

.a-h5-img-section-2{
    font-size: 1.1em;
    }

.a-p-img-sect2{
    font-size: .95em;
    padding-top: 1em;
    }


/* About: section 3 */
.a-section-3-container{
    width: 48em;
    }

.a-section-3-container{
    width: 48em;
    grid-template-columns: 30em 18em;
    grid-template-rows: 5em 15em 10em; 
    }

#a-section3-container-img-4{
    width: 18em;
    height: 21em;
    }

/* ABOUT: section 4 */
#a-section-4{
    margin-top: 6em;
    height: 14em;
    }
    
.a-section-4-container{
    width: 48em;
    }

.a-h3-section-4{
    font-size: 1.6em;
    width: 30em;
    }

.a-section3-img-container{
    width: 48em;
    height: 13em;
    }

.a-button-sect4{
    margin-top: 8.5em; 
    }

 /* ABOUT: section 5 */

.a-section-5-container{
    width: 48em;
    font-size: 1.1em;
    }

.a-h3-section-5{
    width: 18em;
    font-size: 1.2em;
    }

.a-p-section-5{
    width: 27em;
    font-size: .9em;
    }

.a-sect5-img-container{
    width: 19em;
    }

/* ABOUT: section 6 */
#a-section-6{
    margin-top: 6em;
    margin-bottom: 6em;
    }

.a-section-6-container{
    width: 48em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 4em 5em 11em 12em 4em 4.2em;
    }

.a-img-sect-6{
    width: 12.5em;
    height: 9.5em;
    }

.p-sect-6{
    text-align: center;
    width: 100%;
    }

.p-section6{
    width: 14.5em;
    font-size: .9em;
    }

.h2-sect-6{
    font-size: 2em;
    }
}

@media only screen 
and (min-width : 1280px){
/* ---------------------------
            INDEX
---------------------------- */

 /* hero */
 .h3-hero-text {
    font-size: 2.2em;
    }

.h1-hero-text {
    font-size: 3.2em;
    }

.hero-img{
    height: 49em;
    }

.bg-container{
    height: 49em;
    }

.hero-text{
    margin-top: 18em;
    }

.button-container{
    margin-top: 30em;
    height: 2em;
    padding-top: .3em;
    }

.red-emergency{
    bottom: 4.7em;
    height: 3em;
    }

.h5-emergency {
    margin: 1em;
    padding: .65em;
    font-size: 1.1em;
    }

/* nav bar */
 .navbar{
    top: 1.5em;
    } 

 .gradient{
    height: 48em;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 8%, rgba(255,255,255,0) 17%);
    }

/* .hr-navbar{
    border: 2px solid #2e76a4;
    } */

.logo{
    margin: 1em 3em .8em 3em;
    width: 120px;
    height: 75px;
    }

.navbar-logo{
    width: 120px;
    }

.menu-item{
    font-size: 1.1em;
    }

/* INDEX: section 1 */
.section-1-container{
    grid-template-columns: 33em 22em;
    grid-template-rows: 6em 21em 10em;
    width: 55em;
    }

.h3-section-1 {
    font-size: 1.4em;
    }

.p-section-1{
    width: 26em;
    }

.p-section-1-b{
    width: 26em;
    }

.index-p1{
    font-size: 1.1em !important;
    line-height: 230% !important;
    }

#index-container-img-1 {
    width: 22em;
    height: 26em;
    margin: .5em 0 0 auto;
    }

/* INDEX: section 2 */
.section-2-container{
    grid-template-rows: 4em 10em 7em 15em 9em 4em;
    width: 55em;
    }

/* INDEX: section 3 */
.section-3-container{
    width: 55em;
    height: 22em;
    }

#index-container-img-2{
    width: 33em;
    height: 21em;
    }

.div-img-section-3{
    width: 32em;
    height: 19em;
    }

.p-img-section-3{
    padding: 2em 2em 0 2em;
    font-size: 1em;
    line-height: 220%;
    }

.h6-img-section-3 {
    margin-top: 2em;
    font-size: 1.6em;
    }
/* ---------------------------
            ABOUT
---------------------------- */
/* hero */
.section-hero-img{
    height: 34em;
    }

.h-background-section{
    height: 34em;
    }

.section-hero-text{
    margin-top: 8em;
    }
    
.h1-hero-section-text{
    font-size: 2.5em;
    }

.bg-section-container{
    height: 34em;
    }

.gradient-section{
    height: 32em;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 18%, rgba(255,255,255,0) 26%);
    }

/* ABOUT: section 1 */
.a-p-section-1c {
    width: 100%;
    }
.about-section-1-container{
    width: 55em;
    grid-template-columns: 35em 20em;
    grid-template-rows: 6em 15em 15em 10em 5em;
    }

.about-img-sec-1b{
    margin-top: 2em;
    }

/* ABOUT: section 2 */
.a-section-2-container{
    width: 55em;
    height: 20em;
    }

#a-container-img-sect2{
    width: 33em;
    height: 21em;
    }

.a-h5-img-section-2{
    font-size: 1.2em;
    }

.a-p-img-sect2{
    font-size: 1.1em;
    padding-top: 1em;
    }

/* About: section 3 */
#a-section-3 {
    margin-top: 6em;
    }

.a-section-3-container{
    width: 55em;
    }

.a-section-3-container {
    grid-template-columns: 33em 22em;
    grid-template-rows: 5em 15em 10em;
    }

#a-section3-container-img-4 {
    width: 21em;
    height: 24em;
    padding-left: 1em;
    }


/* ABOUT: section 4 */
#a-section-4 {
    margin-top: 8em;
    height: 14em;
    }

.a-section-4-container{
    width: 55em;
    }

.a-section3-img-container{
    width: 55em;
    height: 13em;
    }

 /* ABOUT: section 5 */
#a-section-5 {
    margin-top: 8em;
    }

.a-section-5-container {
    width: 55em;
    }

.a-p-section-5 {
    width: 27em;
    font-size: 1.1em;
    line-height: 210%;
    }

.a-sect5-img-container {
    width: 20em;
    }

/* ABOUT: section 6 */
#a-section-6 {
    margin-top: 8em;
    margin-bottom: 8em;
    }

.a-section-6-container {
    width: 62em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 5em 6em 12em 12em 4em 4.2em;
    }

.p-sect-6 {
    width: 100%;
    }

.a-img-sect-6 {
    width: 15em;
    height: 10em;
    }

.p-section6 {
    width: 16em;
    font-size: .95em;
    }
}