/* iphone x/xs */
@import "typography.css";
@import "buttons.css";

body{
    background:#ffffff;
    
    }

/* ---------------------------
            INDEX
---------------------------- */
#index-container{
    min-width: 265px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header header header header header header header header header"
                         "hero hero hero hero hero hero hero hero hero hero hero hero"
                         "section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1 section-1"
                         "section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2 section-2"
                         "section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3 section-3"
                         "footer footer footer footer footer footer footer footer footer footer footer footer"
                         ;
    }
    
/* HERO */
.hero-img{
    min-width: 265px;
    grid-area: header / hero;
    width: 100vw;
    height: 43em;
    z-index: -2;
    }

.hero-text{
    z-index: 1;
    position: absolute;
    width: 100vw;
    margin: 0 auto 0 auto;
    margin-top: 12em;
    }

.h3-hero-text, .h1-hero-text{
    min-width: 265px;
    width: 90vw;
    margin: 0 auto 0 auto;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 1);
    letter-spacing: .03em;
    }

.gradient{
    width: 100vw;
    height: 43em;
    z-index: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0) 13%);
    }

.bg-container{
    width: 100vw;
    height: 43em;
    }

.hero-background{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }

.red-emergency{
    background-color: rgba(255,0,0,0.6);
    z-index: 1;
    position: relative;
    height: auto;
    width: 100vw;
    bottom: 2.28em;
    }

.h5-emergency{
    min-width: 265px;
    margin: .8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    }

/* HEADER */
#header{
    grid-area: header;
    }

.logo{
    margin: .6em .6em 0em .6em;
    width: 95px;
    height: 65px;
    }

.navbar-logo{
    width: 95px;
    height: auto;
    }

.menu{
    z-index:10; 
    width:100%;
    height: 37.25em;
    padding:.5em 0em .5em 0em;
    background: rgba(255, 255, 255, 0.95);
    position:absolute;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) ;
    }

.menu ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
    list-style-image: none;
    }
              
.menu li {
    display: block;
    padding:5px 0 10px 0;
    text-align: center;
    font-size: 1em;
    }
        
.menu li:hover{
    display: block;
    background:#ffffff; 
    padding: 5px 0 15px 0; 
    }
        
.menu ul li a{ 
    text-decoration:none;
    margin: 0px; color: #0e3a59;
    line-height: 3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    }

li{ 
    transition: all .15s ease-in-out;
    } 

li:hover{
    transform: scale(1.2);
    }

.div-link{
    width: 1.4em;
    height: 1.2em;
    background: #0e3a59;
    border-radius: 50%;
    padding-top: 3px;
    }   

.linkedin{
    font-size: 1.4em;
    border: 0px;
    margin-top: 0px;
    padding: 0px;
    color: white  !important;
    }

.fa-facebook{
    font-size: 2em;
    padding-top: .5em;
    }
.hr-navbar{
    border: 1px solid #2e76a4;
    width: 90vw;
    margin: 0 auto 0 auto;
    }

.hr-menu{
    border: 1px solid rgba(46,118,164,.4);
    width: 85vw;
    margin: .2em auto .2em auto;
    }

.h5-get-quote, .h3-phone, .h3-email{
    font-weight: bold;
    color: #0e3a59;
    font-size: 1em;
    margin: 0;
    padding:0
    }

.h3-phone{
    font-size: 1.5em;
    margin-bottom: .7em;
    }

.h3-email{
    font-size: 1em;
    letter-spacing: 0.1em;
    }

/* section-1 */
#index-section-1{
    grid-area: section-1;
    margin-top: 3em;
    }

.p-section-1, .p-section-2{
    width: 85vw;
    margin: 0 auto 0 auto;
    }

#index-container-img-1{
    width: 85vw;
    height: 13em;
    margin: 2em auto 2em auto;
    }

.index-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

/* section-2 */
#index-section-2{
    grid-area: section-2;
    margin-top: 4em;
    }

.p-section-2{
    margin-top: 1em;
    }

.index-container-icon{
    width: 25vw;
    height: 4em;
    margin: 3em auto 1em auto;
    }

.index-icon{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.icon-2{
    margin-top: 3em;
}

.icon-3{
    height: 5em;
    margin-bottom: 1.5em;
}

.p-icon-section-2{
    width: 65vw;
    text-align: center;
    margin: 0 auto 2em auto;
    }

/* section 3 */

#index-section-3{
    grid-area: section-3;
    margin-top: 4em;
    margin-bottom: 2.5em;
    height: 18em;
    }

.section-3-container{
    height: 20em;
}

#index-container-img-2{
    width: 70vw;
    height: 14em;
    margin: 2em auto 2em 1em;
    z-index: 0;
    position: absolute;
    }

.index-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.div-img-section-3{
    z-index: 1;
    position: absolute;
    width: 80vw;
    margin: 2.5em auto 2em 3em;
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) ;
    }
    
.p-img-section-3{
    margin: 0 auto 0 auto;
    padding: .9em .9em 0 .9em;
    font-size: .75em;
    font-weight: 700;
    color: #0e3a59;
    line-height: 195%;

    }

.h6-img-section-3{
    color: #2e76a4;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    }

/* Footer */
#footer{
    grid-area: footer;
    background-color: #103051;
    display: grid;
    grid-template-rows: repeat(3, 1.8em);
    grid-template-columns: repeat(2,1r);
    }

.h5-footer{
    grid-column-start: 1;
    grid-column-end:  3;
    grid-row: 1;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    }

.h6-footer-1{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    }

.h6-footer-2{
    text-transform: capitalize;
    grid-column: 2;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-row: 2;
    text-align: center;

    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    }

.p-footer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    color: white;
    font-size: .55em;
    text-align: left;
    letter-spacing: 0.02;
    margin: 0 0 0 1.5em;
    }

.footer-icons{
    grid-column: 2;
    grid-row: 3;
    margin: 0 0 0 1em;
    }

.h6-footer-3{
    margin: 0 0 0 1em;
    display: inline-block;
    font-size: .7em;
    font-weight: normal;
    }

.footer-facebook{
    font-size: .5em;
    color: white;
    margin: 0 1em 0 1em;
    }

.footer-linkedin{
    font-size: .8em;
    color: #0e3a59;;
    margin: 0 1em 0 1em;
    }

.footer-div-link{
    width: 1.1em;
    height: 1.1em;
    background: white;
    border-radius: 50%;
    padding-top: 1.5px;
    padding-left: 3px;
    }
