body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 200%;
    }

p{
    font-size: .85em;
    text-align: justify;
    }

h1, h2, h3, h4, h5, h6{
    color: white;
    line-height: 200%;
    }

.title{
    color: #0e3a59;
    text-transform: uppercase;
    font-family: 'Monda', sans-serif;
    }

/* ---------------------------
            INDEX
---------------------------- */
/* hero */
.hero-text{
    z-index: 1;
    position: absolute;
    width: 100vw;
    margin: 0 auto 0 auto;
    margin-top: 13em;
    }

.h3-hero-text, .h1-hero-text{
    min-width: 265px;
    width: 90vw;
    margin: 0 auto 0 auto;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 1);
    letter-spacing: .03em;
    }

/* red emergency */
.h5-emergency{
    min-width: 265px;
    padding-top: .9em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-shadow: 1px 2px 4px #300000;
    }

/* sections */
.h3-section-1{
    font-size: 1em;
    text-align: center;
    width: 23em;
    margin: 0 auto 0 auto;
    }
    
#h3-section-2{
    font-size: 1.3em;
    color: #2e76a4;
    width: 17em;
    text-align: center;
    margin: 3em auto 0 auto;
    /* text-shadow: 2px 0px 2px rgba(50, 50, 50, 0.2); */
    }

.a-h3-section1, .a-h3-sect3,
.a-h3-sect6{
    margin-bottom: .5em;
    }

.p-section-2{
    margin-top: 1em;
    }

.p-icon-section-2{
    width: 22em;
    text-align: justify;
    margin: 0 auto 2em auto;
    color: #0e3a59;
    font-weight: 500;
    }

.icon-p-2{
    font-size: .75em;
    width: 25em;
}
/* ---------------------------
            ABOUT
---------------------------- */
/* section 1 */

.title, .get-in-touch{
    font-family: 'Monda', sans-serif;   
    }


/* ---------------------------
            CONTACT
---------------------------- */
.h-info-section{
    color: #0e3a59;
    }

.h3-call-us{
    margin: 0;
    }

.h-info-section{
    margin: 0;
    }

.get-in-touch{
    padding-top: 1em;
    text-transform: uppercase;
    }

.h-address, .h-email-address{
    font-weight: normal;
    }

.h-address{
    padding-bottom: 1em;
    }


.h-email-address, .h-phone-number{
    letter-spacing: .1em;
    }

/* form */
.c-h4-form{
    font-family: 'Monda', sans-serif;
    font-size: 1.1em;
    color: #fff;
    font-weight: initial;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1em;
    margin-top: 0;
    }

