body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 200%;
    }

p{
    font-size: .85em;
    text-align: justify;
    }

h1, h2, h3, h4, h5, h6{
    color: white;
    line-height: 200%;
    }

.title{
    color: #0e3a59;
    text-transform: uppercase;
    font-family: 'Monda', sans-serif;
    }

/* ---------------------------
            INDEX
---------------------------- */
/* hero */
.hero-text{
    z-index: 1;
    position: absolute;
    width: 100vw;
    margin: 0 auto 0 auto;
    margin-top: 13em;
    }

.h3-hero-text, .h1-hero-text{
    min-width: 265px;
    width: 90vw;
    margin: 0 auto 0 auto;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 1);
    letter-spacing: .03em;
    }

/* sections */
.h3-section-1{
    font-size: 1em;
    text-align: center;
    width: 23em;
    margin: 0 auto 0 auto;
    }
    
#h3-section-2{
    font-size: .9em;
    color: #2e76a4;
    width: 25em;
    text-align: center;
    margin: 0 auto 0 auto;
    text-shadow: 2px 0px 2px rgba(50, 50, 50, 0.3);
    }

/* red emergency */
.h5-emergency{
    min-width: 265px;
    padding-top: .9em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-shadow: 1px 2px 4px #300000;
    }


/* ---------------------------
            ABOUT
---------------------------- */
/* section 1 */

.title{
    font-family: 'Monda', sans-serif;   
    }